<form method="post" action="/admin">
<div>
    <label for="prod">Nume produs </label>
    <input type="text" id="prod" placeholder="Introduceți produs" name="prod"><br><br>
    <label for="prett">Preț produs </label>
    <input type="text" placeholder="Introduceți preț" name="prett" required>
    <input type="submit" value="Adăugare"><br><br>
</div>
</form>